---
BasedOnStyle: Google
---

Language: Cpp

BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
ColumnLimit: 0
CommentPragmas: NOLINT:.*
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
FixNamespaceComments: true
# EmptyLineBeforeAccessModifier: Always
AccessModifierOffset: -4
# IndentAccessModifiers: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Always
